.page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute logo and spinner */
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #4a00e0, #8e2de2); /* Purple gradient */
    padding: 20px 0; /* Add spacing for top and bottom */
  
    .logo-container {
      flex-grow: 1; /* Push the spinner to the bottom */
      display: flex;
      justify-content: center;
      align-items: center;
  
      .logo-image {
        width: 120px; /* Adjust the size of the logo */
        height: 120px;
        object-fit: contain;
      }
    }
  
    .loading-spinner {
      margin-bottom: 20px; /* Add space between spinner and bottom */
      color: white;
      width: 40px;
      height: 40px;
    }
  }
  