<ion-content class="splash-screen" (click)="navigateToWorkout()">
  <div class="splash-container">
    <!-- Background Image -->
    <img src="assets/images/splash.jpg" alt="Background Image" class="background-image" />

    <!-- Text at the Bottom -->
    <div class="splash-content">
      <h1>
        Welcome to <span class="wave-icon">👋</span>
      </h1>
      <h2 class="brand-name">ISJ fits</h2>
      <p class="description">
        The best fitness app in this century to accompany your sports.
      </p>
    </div>
  </div>
</ion-content>
