ion-content {
  --padding-top: 16px;
  --padding-bottom: 16px;
  --padding-start: 16px;
  --padding-end: 16px;
}

.user-container {
  margin-bottom: 8px;
}

.user-info {
  margin-bottom: 8px;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.info-item ion-icon {
  margin-right: 8px;
}

.ok {
  color:#6e44ff;
}
.coaches-list {
  margin-bottom: 16px;
}

.coach-item {
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
  color: #fff;
}

.coach-profile {
  margin-right: 16px;
}

.coach-info {
  flex: 1;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 8px;
}

.coach-info h4 {
  margin: 0;
  font-size: 1.2em;
}

.coach-info p {
  margin: 4px 0;
}

ion-button {
  margin-top: 16px;
  --background: #6e44ff;
  --border-radius: 20px;
}

ion-button:hover {
  --background: #5a34cf;
}

ion-card {
  --background: #202020;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ion-card-title {
  font-size: 24px;
  color: #ffffff;
}

ion-card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-item p {
  margin: 0;
  font-size: 16px;
  color: #bbbbbb;
}

.reservations-list {
  padding: 16px;
}

.reservation-item {
  margin-bottom: 16px;
}

.reservation-item ion-card-header {
  background-color: #f8f8f8;
  padding: 16px;
}

.reservation-item ion-card-title {
  font-size: 1.2em;
  font-weight: bold;
}

.reservation-item ion-card-content {
  padding: 16px;
}

.reservation-item p {
  margin: 8px 0;
}

.reservation-item .accepted {
  color: green;
  font-weight: bold;
}

.scrollable-content {
  height: 100%; /* Important: Ensure the container takes up the full height */
  overflow-y: auto; /* Enable vertical scrolling */
}