<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="true">
  <div class="user-container">
    <div *ngIf="user" class="user-info">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ user.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="info-item">
            <ion-icon name="time-outline"></ion-icon>
            <p class="ok"><strong class="ok">Total Duration:</strong> {{ totalDuration.toFixed(2) }} hours</p>
          </div>
          <div class="info-item">
            <ion-icon name="footsteps-outline"></ion-icon>
            <p class="ok"><strong class="ok">Steps:</strong> {{ steps }}</p>
          </div>
          <div class="info-item">
            <ion-icon name="map-outline"></ion-icon>
            <p class="ok"><strong class="ok">Distance Walked:</strong> {{ distance.toFixed(2) }} km</p>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div class="coaches-list">
    <h3>Available Coaches</h3>
    <div *ngFor="let coach of coaches" class="coach-item" [style.background-image]="'url(' + (coach.bannerImage || 'assets/images/default-banner.png') + ')'">
      <ion-avatar class="coach-profile">
        <img [src]="coach.profilePicture || 'assets/images/default-avatar.png'" alt="Coach Profile Picture">
      </ion-avatar>
      <div class="coach-info">
        <h4>{{ coach.name }}</h4>
        <p><strong>Price:</strong> {{ coach.sessionPrice }} FCFA</p>
        <p>{{ coach.description }}</p>
        <ion-button (click)="bookSession(coach.email)">Book a session</ion-button>
      </div>
    </div>
  </div>
  <!-- <ion-button expand="full" (click)="signOut()">Sign Out</ion-button> -->
</ion-content>
