<ion-content>
  <div class="profile-container">
    <!-- Hidden file input -->
    <input 
      type="file" 
      id="fileInput" 
      accept="image/*" 
      (change)="onPhotoSelected($event)" 
      hidden 
    />

    <!-- Title and description -->
    <h1>Fill Your Profile</h1>
    <!-- <p>Don't worry, you can always change it later, or you can skip it for now.</p> -->

    <ion-avatar class="avatar" (click)="triggerFileInput()">
      <img [src]="profilePicture || 'assets/images/default-avatar.png'" alt="Profile Picture" />
    </ion-avatar>

    <!-- Error message display -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <!-- Profile form -->
    <form [formGroup]="profileForm" (ngSubmit)="submitForm()">
      <ion-item>
        <ion-label position="floating">Full Name</ion-label>
        <ion-input 
          type="text" 
          formControlName="fullName"
          required
        ></ion-input>
        <div *ngIf="profileForm.get('fullName')?.invalid && profileForm.get('fullName')?.touched" class="error-message">
          Full name is required
        </div>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nickname</ion-label>
        <ion-input 
          type="text" 
          formControlName="nickname"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input 
          type="email" 
          formControlName="email"
          required
        ></ion-input>
        <div *ngIf="profileForm.get('email')?.invalid && profileForm.get('email')?.touched" class="error-message">
          Valid email is required
        </div>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input 
          [type]="showPassword ? 'text' : 'password'" 
          formControlName="password"
          required
        ></ion-input>
        <ion-icon 
          [name]="showPassword ? 'eye-off' : 'eye'" 
          slot="end" 
          (click)="togglePasswordVisibility()"
        ></ion-icon>
        <div *ngIf="profileForm.get('password')?.invalid && profileForm.get('password')?.touched" class="error-message">
          Password is required and must be at least 6 characters long
        </div>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input 
          type="tel" 
          formControlName="phoneNumber"
          required
        ></ion-input>
        <div *ngIf="profileForm.get('phoneNumber')?.invalid && profileForm.get('phoneNumber')?.touched" class="error-message">
          Valid phone number is required
        </div>
      </ion-item>

      <ion-button 
        expand="full" 
        class="submit-button" 
        type="submit"
        [disabled]="profileForm.invalid || isLoading"
      >Submit</ion-button>
    </form>
  </div>
</ion-content>
